.main{
    height: 300px;
    width: 100%;
    border: 5px solid blue;
    /* margin: 30px 20px 30px 50px; */
    /* margin-left: 30px; */
    /* padding: 50px; */
    padding-left: 40px;
    
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
}