table {
    border: 1px solid green;
    border-collapse: collapse;
     /* extra display cheyyunna lines remove avunnu */
}

th,td {
    text-align: center;
    padding: 10px;
}

#main {
 text-align: center;
}
form{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}